.InfoPanel {
	position: absolute;
	height: 150px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 1;
	.mui-paper-container {
		padding: 0 12px;
	}
	.title {
		margin-bottom: 0;
	}
	.content {
		position: absolute;
		top: 60px;
		bottom: 0;
		overflow-x: scroll;
	}
}